// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn{
  background-color: #f03c90;
  border-radius: 5px;
}

.input {
  border-bottom: 1px solid black;
}
